OHMProfileManagementSystem/Web References/ValidateTaxpayer/IntegratedTaxSystemService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.101.166:81/IntegratedTaxSystemService.svc?xsd=xsd2" namespace="http://www.pcs.com.np/types/" />
  <xs:element name="ValidatePan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.pcs.com.np/types/" minOccurs="0" name="request" nillable="true" type="q1:TaxpayerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.pcs.com.np/types/" minOccurs="0" name="ValidatePanResult" nillable="true" type="q2:TaxpayerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaxpayerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://www.pcs.com.np/types/" minOccurs="0" name="request" nillable="true" type="q3:TaxpayerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaxpayerInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://www.pcs.com.np/types/" minOccurs="0" name="GetTaxpayerInfoResult" nillable="true" type="q4:TaxpayerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidTaxpayerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://www.pcs.com.np/types/" minOccurs="0" name="request" nillable="true" type="q5:TaxpayerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidTaxpayerInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://www.pcs.com.np/types/" minOccurs="0" name="GetValidTaxpayerInfoResult" nillable="true" type="q6:TaxpayerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>